body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#quiz-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}

.hide {
    display: none;
}

#next-btn, #restart-btn {
    background: #28a745;
}

#next-btn:hover, #restart-btn:hover {
    background: #218838;
}
